@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Exo:700');
@import url('https://fonts.googleapis.com/css?family=Abel');
/* About us section*/
.ng-invalid.ng-touched:not(form) {
    border: 2px solid red;
  }


#cover #cover-caption .form-group .form-control #err {
    border-left : 2px solid red;   
}
#cover {
      height: 130%;
      text-align: center;
      display: flex;
      align-items: center;
      position: relative;
      
  }
  #cover{
      background: #252934 center center no-repeat;
      
  }
  
  #cover{
      margin-bottom:-4%;
      padding-bottom: 20%; 
  }
  
  #cover-caption {
      width: 100%;
      position: relative;
      z-index: 1;
  }

form:before {
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 20px;
    margin-top:20%;
    bottom:20px;
    margin-bottom:30%;
    width: 100%;
    background-color: rgba(0,0,0,0.3);
    
    z-index: -1;
    border-radius: 10px;
}
#cover #cover-caption #contact-heading{
    color:#fff;
    font-family: 'Raleway',sans-serif;
    font-weight: bold;
    font-size:30pt;
    text-transform: uppercase;
    text-decoration: none;
    background-image: linear-gradient(to top, #d5d4d0 0%, #d5d4d0 1%, #eeeeec 31%, #efeeec 75%, #e9e9e7 100%);


}

#cover #cover-caption #contact-heading{
   
    
    background-position: bottom;
    background-repeat: no-repeat;
    background-size:5% 4px;
    border-radius:53px;
    margin-bottom: 24%;;
    transition:background-size .8s ease-in-out;

}
    
   


#cover #cover-caption #contact-heading:hover{
    background-size: 20% 4px;
}

#cover #cover-caption  #form1{
    animation-name:slide-from-right;
    animation-iteration-count: 1;
    animation-delay: .8s;
    animation-duration:1s ;
    transition: .8s all ease-in-out; 
}
@keyframes slide-from-right{
    from{transform:translate(70%,0%);}
    to{transform:translate(0%,0%);}

}


#cover  #contact-heading{
    animation-name:slide-from-left;
    animation-iteration-count: 1;
    animation-delay: .8s;
    animation-duration:1s ;
    transition: ease-in; 
}

@keyframes slide-from-left{
    from{transform:translate(-70%,0%);}
    to{transform:translate(0%,0%);}
}
    


#cover #cover-caption  .button1{
    padding-top:4px;
    border:2px solid #fff;
    border-radius: 0%;
    
}

#cover #cover-caption  .button1:hover{
  background-color: #00BFFF; 
  color: rgba(255, 255, 255, 1);
  box-shadow: 10px 5px 15px rgba(145, 92, 182, .4);
  transform:scale(1.2,1.2);
  transition: .8s all ease-in-out;
}

#cover #cover-caption  .button1 {
  font-family: 'Courgette', cursive;
  font-size:20px;
  color:#fff;
  background:#252934 ;
    
}

#cover #cover-caption #form1 .form-group input, 
#cover #cover-caption #form1 .form-group textarea{
    background: #1e242c;
    border:1px solid #1e242c;
}

/*  Contact me section ends    */
