/* Navbar brand */
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Spicy+Rice&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Spicy+Rice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
nav{
  top: 0;
  
 /* background-image: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);*/
	left: 0;
	width: 100%;
	height: 90px;
	box-sizing: border-box;
	transition: .3s;
}
/* color of navbar */
nav.black{
	background: rgba(0,0,0,0.9);
	height: 90px;
}
/* color of navbar ends*/
nav a #hotels {
/*	font-family: 'Parisienne', cursive;
	*/font-family: 'Great Vibes', cursive,'Parisienne';
	font-size : 10px;
	color : black;
	-wekit-transform : skew(0,90);
	transform: translateZ(20);
}


nav .logo{
	padding-top: 15px;
	transition: .3s;
}

a.navbar-brand {
	height: inherit;
	line-height: inherit;
	font-size: 1.7em;
	text-transform: uppercase;
	font-weight: 900;
	letter-spacing: 3px;
	font-family: 'Spicy Rice', cursive;
}

a.navbar-brand span {
	font-family: 'Spicy Rice','Monoton', cursive;
	font-size: 40px;
	font-weight: bold;
	letter-spacing: 8px;
	color:#00ddc1;
}

/* Navbar brand ends */

 /* font of the buttons oor link along with animations */
.nav-link{
  	font-family: cursive,sans-serif;
  	background-repeat: no-repeat;
	background-size: 100% 0.2em;
  	background-position: 0 88%;
		
	
}
.nav-link:hover{
	shape-image-threshold: initial;
 	background-size: 100% 88%;
	clip-path: polygon(0 24%, 7% 9%, 92% 9%, 100% 25%, 100% 80%, 50% 100%, 0% 80%);
	padding: 5px;
  	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04),
  	0px 10px 20px rgba(0, 0, 0, 0.04);
	transition: all 0.2s ease-in-out;
	background:limegreen;
	
	
}



/* */

.sign-btn{
	margin-left:10px;

}

.btn{
	text-transform: uppercase;
    background: #fff;
    outline: 0;
    width: 170px;
    height: 54px;
    border-radius: 53px;
    font: bold 16px "open sans";
    text-align: center;
    color: #333435;
    padding: 2px 33px;
    letter-spacing: 0.065em;
    text-transform: uppercase;
    font-weight: 700;
    font-family: Helvetica, sans-serif;
    cursor: pointer;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04),
      0px 10px 20px rgba(0, 0, 0, 0.04);

}
.btn-signin{
	background-color: #f6f6f6;
  border: 2px solid #06eb65;
  
}
.btn-signup{
	background-color: #f6f6f6;
	border: 2px solid #f61c39;
}
.btn-signin:hover {
	background: #06eb65;
	color: #fff;
	border: 1px solid #06eb65;
	box-shadow: 0 0 1px 0px #222;
	transition: background-color 0.25s ease-out, box-shadow 0.25s ease;
  }

  .btn-signup:hover {
	background: #f61c39;
	color: #fff;
	border: 1px solid #f61c39;
	box-shadow: 0 0 1px 0px #222;
	transition: background-color 0.25s ease-out, box-shadow 0.25s ease;
  }
