 
<section class="member_counter" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="single_member_counter">
                    <span class="counter">{{ info.noHotels }}</span>
                    <h4>Hotels</h4>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single_member_counter">
                    <span class="counter">{{info.no_of_countries}}</span>
                    <h4> Countries </h4>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single_member_counter">
                    <span class="counter">{{info.no_of_awards}}</span>
                    <h4>Awards</h4>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single_member_counter">
                    <span class="counter">{{info.no_of_staff }}</span>
                    <h4>Staff Members</h4>
                </div>
            </div>
        </div>
    </div>
  </section>
  