@import url('https://fonts.googleapis.com/css?family=Open+Sans|Spicy+Rice&display=swap');
.xprod{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
   }
   h5{
       color:#28a745;
       font-size: 20px;
       font-weight:bold;
   }
   .linkclass>li>a{
        
        color:#fafafa;

   }

   .linkclass>li>a:hover{
    text-decoration: underline;
    text-decoration-color: limegreen;
}


   
   p{
       color:whitesmoke;
   }
   .footer{
       margin-top:4%;
       margin-bottom:-2%;
       font-family: 'Open Sans', sans-serif;

   }
   
   .footer-color{
       background-color: #0b1824;
   }
   
   .underline--magical{
       background-color: white;
   }
   .underline--magical:hover{
    transition: all 0.2s ease-in-out;
    background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
    
}