@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
.container-fluid { 
    margin-top: 40px;
}
.card {
    
    margin:30px;
    box-shadow: 2px 2px 2px grey;
    
}
img {
    width:100%;
    height:auto;
    
}


.card:hover {

    box-shadow:15px 15px 15px;
    transform:scale(1.05,1.05);
    -ms-transform: scale(1.05,1.05);
    -webkit-transform: scale(1.05,1.05);
    transition:0.5s ease-in-out;
}

.list-item { 
    list-style-type: none;
    font-family: 'Raleway', sans-serif;

}


.container-fluid .card .card-body .list-group .list-item .name{
    text-align: center;
    font-size:28px;
}

.container-fluid .card .card-body .list-group .list-item .name{
    /*background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
    */background-position: bottom;
    background-repeat: no-repeat;
    background-size:5% 4px;
    border-radius:53px;
    transition:background-size .5s ease-in-out;
    transition-delay:.3s;
}
.container-fluid .card .card-body .list-group .list-item .name:hover{
    background-size: 10% 4px;
    cursor:pointer;
}

.container-fluid .card .card-body .list-group .list-item .abbreviation{
    text-align: center;
    font-size:20px;
}


.social-btn-team i{
	transition: all 0.5s ease;
	color: #ee5253;
}

.social-btn-team i:hover{
	cursor: pointer;
	transition: all 0.5s ease;
  background-image: -webkit-linear-gradient(50deg,#2096ff,#05ffa3)!important;
	color:black;
	border-radius:50%;
	transition: background-color 3s ease-out;
	border:1px solid #1a2930;
}

.blog-social i{
	transition: all 0.5s ease;
	cursor: pointer;
	color: #233237;
	background-color: #fff;
	font-size: 30px;
	clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
}

.blog-social i:hover {
	transition: all 0.5s ease;
	background-color: #7658F4;
	color: #A4F3D9;
	cursor: pointer;
	transition: background-color 1s ease-out;
}

.social-btn{
	color:black;
}

.social-btn:hover{
	cursor: pointer;
	transition: background-color 3s ease-out;
	/* background: -webkit-linear-gradient(50deg,#45cafc,#303f9f)!important; */
    /* background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%); */
	/* color:gray; */
	/* background-color: rgba(0,0,0,0.3); */
}

