<section class="container-fluid">
    <div class="row">
        <div class="col-md-6">
                <h1 class="text-center text1">About Us </h1>
            <br><br>
            <article>
                    We at Indian Hotels welcome all the clients and promote the best of the work-culture. We are thereby focused to provide the best of the services to the clients.
                    So we have some of the key points which we incorporate in our daily business to encourage our employees as well as the clients. 

                </article>
            <br><br>
            <h2>Transparency</h2>
            <article>
             We succeed through open exchange of information.
            Indian Hotels is built on a foundation of open and honest communication. We believe the only way to ensure success for our clients and ourselves is to operate in a fully transparent manner. We encourage associates to listen to ideas and share feedback that can make us a better, stronger, more able company.
            </article>
            <br><br>
            <h2>Passion</h2>
            <article>
                We are all here work as one family promoting each other and giving them enthusiasm to move further. We move a extra mile to give our clients and 
                customers satisfaction. 
            </article>
            <br><br>
            <h2>Services</h2>
            <article>
                Our customers’ delight powers our success, and exceeding customer expectations is our belief. No matter how big or small a project is, it will be delivered with the highest quality. Every associate knows that the customer is why we are here and that we place unwavering focus on customer satisfaction.
            </article>
            <br><br>
            <h2>Awards</h2>
            <article>
                We have won 35 awards worldwide. In The Best Hotels in the World category, Taj Lake Palace, Udaipur ranked #3, closely followed by Rambagh Palace, Jaipur at #7, the only two Indian hospitality brands to be featured within the top ten.
            </article>
            <br><br>
            <h2>Staff</h2>
            <article>
                We employee 35000 staff members worldwide. Not only our employees make our networth but they are the main reason for our networth. Our staff is dedicated to make workspace among the best places to work in. 
            </article>

        </div>
        <div class="col-md-6">
            <img [src]="imglink" class="img-fluid img-thumbnail img-responsive">
            <br><br>
            <img [src]="imglink2" class="img-fluid img-thumbnail img-responsive">
            <br><br>
            <img [src]="imglink3" class="img-fluid img-thumbnail img-responsive">
        </div>
       
    </div>
</section>